body{
    background-color: #D5E1EF;
    margin: 100px auto;
}
.card {
    background-color: #ffffff;
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card img{
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 35px auto;
    /* display: block; */
}
.card-text{
    text-align: center;
    margin-top: -30px;
    padding: 0px 40px 40px 40px;

}
.card-text p{
    font-size: 16px;
    color: grey;
    padding: 0 40px 0 40px;
}
@media (max-width: 600px) {
    .card {
      width: 90%;
      max-width: 400px;
      margin: 0 auto;
    }
    
    .card img {
      width: 90%;
      height: auto;
      margin: 20px auto;
    }
    
    .card-text {
      padding: 20px;
    }
  }
  
  
  
  
  
  
  